body {
  background: #1a65ea;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  overflow-x: hidden;
}

h1 {
  font-size: 300%;
  text-align: center;
  border-bottom: 4px solid #fff;
  margin: 0 auto;
  padding: 3rem 0;
  color: white;
  max-width: 1170px;
  transition: all 0.3s ease;
  @media (max-width: 1170px) {
    max-width: 800px;
  }
  @media (max-width: 820px) {
    max-width: 90%;
  }
  @media (max-width: 600px) {
    max-width: 95%;
  }
}

.vertical-timeline-element-content {
  color: white;

  h2,
  h3 {
    color: inherit;
  }
  h3 {
    font-size: 100%;
  }

  a,
  a:link,
  a:visited,
  a:hover {
    color: white;
  }
}

button.vertical-timeline-element-icon {
  cursor: pointer;
}

h3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  small {
    font-weight: normal;
    font-style: italic;
  }
}

button.vertical-timeline-element-icon-selected {
  border: 1px solid #aaa;
}

.vertical-timeline-element-icon {
  background: white;
  border: 0;
  padding: 0;

  svg {
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: 0;
    padding: 0;
    left: 0;
    top: 0;
    margin: 0;
  }
}

.vertical-timeline {
  transition: all 0.3s ease;
  @media (max-width: 1170px) {
    max-width: 800px;
  }
  @media (max-width: 820px) {
    max-width: 90%;
  }
  @media (max-width: 600px) {
    max-width: 95%;
  }
}

.vertical-timeline-element-content {
  .vertical-timeline-element-title {
    scroll-margin-top: 1.5em;
    padding-bottom: 0.4rem;
    font-size: 150%;
  }
  .vertical-timeline-element-date {
    color: white;
    font-weight: bold;
    opacity: 1;
  }

  .vertical-timeline-element-content-arrow {
    border-right-style: solid;
    border-right-width: 7px;
  }

  p {
    position: relative;
    img {
      display: block;
      width: 100%;
    }

    + p {
      font-size: 87%;
    }
  }

  img + .play {
    transition: all ease-in-out 0.5s;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
  }

  img:hover + .play,
  .play:hover {
    opacity: 1;
    display: block;
  }

  img:hover + .play,
  .play:hover {
    & + .icon-video {
      transform: translate(50%, 50%);
      opacity: 1;
      right: 50%;
      bottom: 50%;
      width: 80px;
      height: 80px;
      background: rgba(0, 0, 0, 0);
    }
  }
}

.flag-color:nth-child(3n + 1) {
  .vertical-timeline-element-content {
    background: #008c45;
    color: white;
    box-shadow: 0 3px 0 #006a23;
  }
  .vertical-timeline-element-content-arrow {
    border-right-color: #008c45;
  }
}

.flag-color:nth-child(3n + 2) {
  .vertical-timeline-element-content {
    background: #f4f5f0;
    color: black;
    box-shadow: 0 3px 0 #bbb;
  }
  .vertical-timeline-element-content-arrow {
    border-right-color: #f4f5f0;
  }
  @media (max-width: 1169px) {
    .vertical-timeline-element-date {
      color: black;
    }
  }
}

.flag-color:nth-child(3n) {
  .vertical-timeline-element-content {
    background: #cd212a;
    color: white;
    box-shadow: 0 3px 0 #ab0008;
  }
  .vertical-timeline-element-content-arrow {
    border-right-color: #cd212a;
  }
}

footer {
  text-align: center;
  border-top: 4px solid #fff;
  margin: 0 auto;
  max-width: 75%;
  padding: 3rem 0;
  color: white;

  p {
    font-style: italic;
    font-size: 300%;
    margin-bottom: 0.2em;
  }

  small {
    margin-top: 3em;
  }

  small + small {
    margin-top: 0;
  }

  > * {
    display: block;
    text-align: center;
  }

  a,
  a:link,
  a:hover,
  a:visited {
    color: white;
  }
}

.icon-size {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;

  svg {
    width: 100%;
    height: 100%;
  }

  &-small {
    width: 15px;
    height: 15px;
    margin-bottom: 2px;

    svg {
      fill: currentColor;
      border: 0;
    }
  }
}

.icon-size-bk,
.icon-eaa {
  background: #fff;
  border-radius: 100%;
  padding: 3px;
}

.tooltip {
  text-transform: capitalize;
}

.ytWrapper {
  background: black;
  width: 100%;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.yt {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

button.close {
  z-index: 10;
  border: 0;
  cursor: pointer;
  background: #222;
  border-radius: 50px;
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-decoration: none;
  padding: 0;
  font-size: 10px;
  color: white;
  line-height: 2;
  box-shadow: 1px 1px 3px #999;
  position: absolute;
  right: -10px;
  top: -10px;
}

button.close span {
  text-indent: 100px;
}

button.close::before {
  content: '✕';
  display: block;
}

.icon-video {
  pointer-events: none;
  transition: all 1s ease-in-out;
  display: block;
  position: absolute;
  bottom: 5px;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  width: 40px;
  height: 40px;

  svg {
    fill: white;
  }
}

[style*='--aspect-ratio'] > :first-child {
  width: 100%;
}

[style*='--aspect-ratio'] > img {
  height: auto;
}

[style*='--aspect-ratio'] {
  position: relative;
}

[style*='--aspect-ratio'] > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

[style*='--aspect-ratio']::before {
  content: '';
  display: block;
}

@supports not (aspect-ratio: 1/1) {
  [style*='--aspect-ratio']::before {
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
}
@supports (aspect-ratio: 1/1) {
  [style*='--aspect-ratio']::before {
    aspect-ratio: calc(var(--aspect-ratio));
  }
}

button[disabled] {
  cursor: default;
}

.ReactModal__Content {
  .vertical-timeline-element-icon,
  .vertical-timeline-element-content-arrow {
    display: none;
  }
  .vertical-timeline-element,
  .vertical-timeline-element-content {
    margin: 0;
  }
}

.sharer-wrapper {
  span,
  a {
    background: white;
    margin: 15px auto 0;
    display: block;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 0 4px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  .sharer-activator {
    visibility: visible;
  }
}

.sharer a {
  visibility: hidden;
}

.sharer-wrapper:hover {
  a {
    visibility: visible;
  }
}

svg.icon-gymnastic {
  width: calc(100% + 10px);
  height: calc(100% + 4px);
  margin-top: -2px;
  margin-left: -1px;
}

svg.icon-trigames {
  width: 95%;
  margin-left: 1%;
  margin-top: 1%;
}

svg.icon-sailing {
  width: calc(100% + 5px);
  margin-left: -2px;
  margin-top: -5px;
  height: calc(100% + 5px);
}

.map-popover {
  max-width: 300px;
  font-size: 12px;

  h3 {
    padding: 0.2rem 0;
    margin: 0;
  }
}

.react-aspect-ratio-placeholder {
  margin: 1em 0 0;
  line-height: 1.6;
  background: url('/medal.svg') no-repeat center;
  background-size: 200px;
  background-blend-mode: soft-light;
  text-indent: -9999px;
}

.map-loader {
  background: rgba(191, 214, 223, 0.92) url('/medal.svg') no-repeat center;
  background-size: 200px;
  background-blend-mode: soft-light;
  height: 100%;
}

.flag-color:nth-child(3n + 1) {
  .react-aspect-ratio-placeholder {
    background-color: #008c45;
  }
}

.flag-color:nth-child(3n + 2) {
  .react-aspect-ratio-placeholder {
    background-color: #f4f5f0;
  }
}

.flag-color:nth-child(3n) {
  .react-aspect-ratio-placeholder {
    background-color: #cd212a;
  }
}
